@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">PH的瑪雅日記</h1>
    <p>References from <a href="https://mayankin.com">Mayankin web site</a>.</p>
</div>

<div class="container-fluid">
    <div class="row no-gutters">
        @{
            var cards = IndexModel.WeekCardInfos;

            foreach(var vcard in cards)
            {
                <div class="col rounded no-gutters bordered">
                    <div class="card shadow-sm border-0">
                        <img class="card-img-top" src="/img/@vcard.mainOracle.oracleImgSrc" alt="Card image cap">
                        <div class="card-body">
                            <p class="h6">@vcard.date.ToString("yyyy/MM/dd") (@vcard.weekDay)</p>                            
                            <p class="card-text text-muted">
                                @vcard.mainToen.toneName@vcard.mainOracle.oracleName @vcard.mainKIN
                            </p>
                            <a href="#" class="btn btn-info btn-round">Read More</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Seq</th>
            <th scope="col">English Name</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Picture(Thu)</th>
        </tr>
    </thead>
    <tbody>
        @{
            var items = IndexModel.MayanOracles;
            int itemCount = items.Count();

            foreach (var item in items)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.oracleEName</td>
                    <td>@item.oracleName</td>
                    <td>@item.oracleColor</td>
                    <td><img class="img-fluid" src="/img/@item.oracleImgSrc" width="30" height="30" /></td>
                </tr>
            }
        }

    </tbody>
</table>

<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Seq</th>
            <th scope="col">English Name</th>
            <th scope="col">Name</th>
            <th scope="col">Picture(Thu)</th>
        </tr>
    </thead>
    <tbody>
        @{
            var tones = IndexModel.MayanTones;
            int tonesCount = tones.Count();

            foreach (var tone in tones)
            {
                <tr>
                    <td>@tone.id</td>
                    <td>@tone.toneEName</td>
                    <td>@tone.toneName</td>
                    <td><img class="img-fluid" src="/img/@tone.toneImgSrc" width="30" height="30" /></td>
                </tr>
            }
        }

    </tbody>
</table>


